body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px; }
  body .header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 3px solid #FF2832;
    padding: 0px 5px;
    margin-bottom: 30px; }
    body .header .title {
      padding: 5px 10px;
      background-color: #FF2832;
      color: white; }
      body .header .title:hover {
        cursor: pointer; }
    body .header .message {
      position: relative;
      z-index: 2; }
      body .header .message:hover {
        cursor: pointer; }
    body .header .options {
      position: absolute;
      display: none;
      top: 45px;
      font-size: 16px;
      box-shadow: 5px 5px 2px grey; }
      body .header .options div {
        padding: 8px 5px;
        text-align: center;
        border: 1px solid grey; }
        body .header .options div:hover {
          background-color: grey;
          cursor: pointer; }
  body .body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    body .body .collapse {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      width: 20%;
      height: 220px;
      margin-right: 30px; }
      body .body .collapse a {
        margin: 10px 0px; }
  body .cart {
    position: fixed;
    right: 25px;
    bottom: 25px; }
    body .cart .cart-font {
      font-family: cart-font !important;
      font-size: 45px;
      font-style: normal; }
      body .cart .cart-font:hover {
        cursor: pointer; }
  body .sidebar {
    position: fixed;
    z-index: 5;
    top: 0;
    right: -250px;
    bottom: 0;
    background-color: #E6E6E6;
    width: 250px;
    transition: right 0.5s;
    display: flex;
    flex-direction: column; }
    body .sidebar .top {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: pink; }
      body .sidebar .top:hover {
        cursor: pointer; }
    body .sidebar .mid {
      flex-grow: 1; }
      body .sidebar .mid .good {
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
        padding: 8px;
        background-color: white; }
        body .sidebar .mid .good .title {
          padding: 5px;
          border-bottom: 1px solid green; }
        body .sidebar .mid .good .detail {
          display: flex;
          padding: 5px 0px;
          justify-content: space-between; }
          body .sidebar .mid .good .detail .num {
            display: flex;
            justify-content: center;
            align-items: center; }
            body .sidebar .mid .good .detail .num .minus-add {
              font-family: minus-add-font;
              font-size: 20px;
              font-style: normal; }
              body .sidebar .mid .good .detail .num .minus-add:hover {
                cursor: pointer; }
            body .sidebar .mid .good .detail .num .count {
              margin: 0px 5px;
              width: 24px;
              display: flex;
              justify-content: center; }
          body .sidebar .mid .good .detail .totalprice {
            display: flex;
            justify-content: center;
            align-items: center; }
          body .sidebar .mid .good .detail .delbtn {
            display: flex;
            justify-content: center;
            align-items: center; }
            body .sidebar .mid .good .detail .delbtn button {
              background-color: red;
              border: 2px solid #555555;
              color: black;
              padding: 3px 5px;
              text-align: center;
              cursor: pointer; }
    body .sidebar .bottom {
      display: flex;
      flex-direction: column;
      background-color: pink; }
      body .sidebar .bottom .total {
        display: flex;
        justify-content: space-around;
        height: 30px;
        padding: 5px 0px;
        font-size: 15px; }
        body .sidebar .bottom .total .totalprice {
          color: #C81C1C; }
      body .sidebar .bottom .settlementbtn {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C40000; }
        body .sidebar .bottom .settlementbtn:hover {
          cursor: pointer; }
